@model Order

<h2>Check out now</h2>
<br />
<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Checkout" method="post">
    <div class="form-group">
        <label>Address:</label>
        <input asp-for="ShippingAddress" class="form-control" />
    </div>
    <div class="form-group">
        <label>City:</label>
        <input asp-for="City" class="form-control" />
    </div>
    <div class="form-group">
        <label>State:</label>
        <input asp-for="State" class="form-control" />
    </div>
    <div class="form-group">
        <label>Zip:</label>
        <input asp-for="Zip" class="form-control" />
    </div>
    <div class="form-group">
        <label>Country:</label>
        <input asp-for="ShippingCountry" class="form-control" />
    </div>
    <div class="form-group">
        <label>Bank:</label>
        <input asp-for="Bank" class="form-control" />
    </div>
    <div class="form-group">
        <label>Type of Card:</label>
        <select asp-for="TypeOfCard" class="form-control" >
            <option value="Visa">Visa</option>
            <option value="MasterCard">MasterCard</option>
        </select>
    </div>
    <br />
    <div class="text-center">
        <input class="pill-button" type="submit" value="Place Order" />
    </div>
    <br />
    <div class="text-center">
        <a href="/Cart" class="red-pill-button">Cancel Transaction</a>
    </div>
    <br>

</form>
