@{
    ViewData["Title"] = "Home Page";
}

@model List<Product>

<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

@* This is the cookie notification *@
<div>
    <div id="cookie-notification">
        <div id="cookie-content">
            <strong>COOKIE POLICY</strong><br>
            <span>Last updated April 08, 2024</span><br><br>
            <span>This Cookie Policy explains how Brickwell Creations uses cookies and similar technologies to recognize you when you visit our website. It explains what these technologies are and why we use them, as well as your rights to control our use of them.</span><br>
            <span>In some cases, we may use cookies to collect personal information, or that becomes personal information if we combine it with other information.</span><br><br>
            <strong>What are cookies?</strong><br><br>
            <span>Cookies are small data files that are placed on your computer or mobile device when you visit a website. Cookies are widely used by website owners to make their websites work, or to work more efficiently, as well as to provide reporting information.</span><br><br>
        </div>
        <button id="accept-cookies" class="pill-button" onclick="hideCookieNotification()">Accept</button>
    </div>

    <script>
        function setCookie(c_name, value, expiredays) {
            var exdate = new Date();
            exdate.setDate(exdate.getDate() + expiredays);
            document.cookie = c_name + "=" + escape(value) +
                ((expiredays == null) ? "" : ";expires=" + exdate.toUTCString());
        }

        function getCookie(c_name) {
            if (document.cookie.length > 0) {
                var c_start = document.cookie.indexOf(c_name + "=");
                if (c_start != -1) {
                    c_start = c_start + c_name.length + 1;
                    var c_end = document.cookie.indexOf(";", c_start);
                    if (c_end == -1) c_end = document.cookie.length;
                    return unescape(document.cookie.substring(c_start, c_end));
                }
            }
            return "";
        }

        function hideCookieNotification() {
            var cookieNotification = document.getElementById("cookie-notification");
            cookieNotification.style.display = "none";
            setCookie('cookieAccepted', 'true', 365); // Set a cookie to remember the user's acceptance
        }

        function checkCookie() {
            var cookieAccepted = getCookie('cookieAccepted');
            if (cookieAccepted != null && cookieAccepted != "") {
                var cookieNotification = document.getElementById("cookie-notification");
                cookieNotification.style.display = "none";
            }
        }

        // Check for the cookie on page load
        window.onload = checkCookie;
    </script>
</div>


@* Homepage Content *@
<div>
    <img src="~/img/newlanding-cropped.png" alt="Build, Create, Inspire" class="img-fluid" style="object-fit: cover; border-radius: 10px;">
</div>

@* Recommendations 
   These are static - should show if the user is not authenticated.
*@
<br /><br />
<body>
    <div class="row">
        <div class="col-10">
            <h2><b>Popular Picks</b></h2>
            <p class="subtext">From fan favorites to new releases, explore our curated selection of the most sought-after LEGO sets, handpicked based on popularity and purchases.</p>
        </div>
        <div class="col-2">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Products">
                <span>
                    <h4 style="display: inline-block; margin-right: 5px;"><b>Shop More</b></h4>
                    <i class="fas fa-arrow-right"></i>
                </span>
            </a>
        </div>
        <div class="scroll-container">
            @foreach (var product in Model)
            {
                <div class="product-card product-card-custom-height" style="background-color:white">
                    <a asp-controller="Home" asp-action="ProductDetails" asp-route-productId="@product.ProductId" class="mt-auto text-dark" style="align-items:center">
                        <img src="@product.ImgLink" class="img-thumbnail rounded float-left mx-auto my-auto d-block" style="height:180px" />
                    </a>

                </div>
            }
            <div class="product-card product-card-custom-height" style="background-color:white; display: flex; align-items: center; justify-content: center; height: 80%;">
                <a asp-controller="Home" asp-action="Products" class="short-pill-button wide-button">See More</a>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />

@* Information Boxes *@
    <div class="row">
        <div class="col-sm-4">
            <div class="card" style="border-radius: 10px; height: 420px; border-color:white; outline-color:white">
                <div class="card-body context-card" style="text-align: center; border-color: #237841; border-style: solid; border-width: 2px; border-radius: 10px;">
                    <img src="~/img/person.jpeg" alt="Learn More" class="icon">
                    <br /><br />
                    <h3 class="card-title">Learn More</h3>
                    <br />
                    <p class="card-text lead">Meet the girl behind the bricks—where passion for LEGO and community comes together!</p>
                    <br />
                    <div class="d-grid gap-2">
                        <a asp-controller="Home" asp-action="About" class="short-pill-button" >About Us</a>
                    </div>
                    <br />
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="border-radius: 10px; height: 420px; border-color:white; outline-color:white">
                <div class="card-body context-card" style="text-align: center; border-color: #237841; border-style: solid; border-width: 2px; border-radius: 10px;">
                    <div class="text-align:center">
                        <img src="~/img/legoheadicon.png" alt="Learn More" class="icon" style="height: 60px">
                    </div>
                    <br /><br />
                    <h3 class="card-title">Shop Products</h3>
                    <br />
                    <p class="card-text lead">Discover the latest LEGO sets, all in one place. Browse our inventory to start building your new favorites now!</p>
                    <br />
                    <div class="d-grid gap-2">
                        <a asp-controller="Home" asp-action="Products" class="short-pill-button">Shop</a>
                    </div>
                    <br />
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="border-radius: 10px; height: 420px; border-color:white; outline-color:white">
                <div class="card-body context-card" style="text-align: center; border-color: #237841; border-style: solid; border-width: 2px; border-radius: 10px;">
                    <img src="~/img/account.png" alt="Learn More" class="icon">
                    <br /><br />
                    <h3 class="card-title">Create Account</h3>
                    <br />
                    <p class="card-text lead">Start your build! Create an account to make purchases and bring your LEGO dreams to life.</p>
                    <br />
                    <div class="d-grid gap-2">
                        <a class="short-pill-button" asp-area="Identity" asp-page="/Account/Register">Create Account</a>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />

@* Social Media Reach *@
    <div class="card-body rounded-box text-center" style="text-align: center;">
        <div class="row" style="text-align: center;">
            <h2 style="text-align: center;"><b>#HappyBricking</b></h2>
        </div>
            <br />
        <div class="row">
            <div class="col-3 col-lg-3 col-sm-3">
                <a href="https://www.instagram.com/">
                    <img src="~/img/building2.png" class="img-fluid">
                </a>
            </div>
            <div class="col-3 col-lg-3 col-sm-3">
                <a href="https://www.facebook.com/">
                    <img src="~/img/camera2.png" class="img-fluid">
                </a>
            </div>
            <div class="col-3 col-lg-3 col-sm-3">
                <a href="https://www.tiktok.com/">
                    <img src="~/img/robot2.png" class="img-fluid">
                </a>
            </div>
            <div class="col-3 col-lg-3 col-sm-3">
                <a href="https://www.facebook.com/">
                    <img src="~/img/rocket2.png" class="img-fluid">
                </a>
            </div>
        </div>

        <div class="row" style="text-align: center;">
                <p class="lead">
                    <br />
                    Follow <b>@@AuroraBrickwell</b> to stay up to date on products, inspiration, and features.<br />
                    Use the hashtag #HappyBricking for a chance to be featured!
                </p>
        </div>
    </div>
        <br /><br /><br />
</div>


</body>
