@{
    ViewData["Title"] = "Products";
}

@model ProductsListViewModel


<div class="row m-1 p-1">
    <div class="col-3">
        <h1 class="text-center">Products</h1>
        <hr />
        <div class="d-grid gap-2">
            <a class="btn btn-outline-secondary text-center" asp-controller="Home" asp-action="Products" asp-route-category="">View All</a>
        </div>
        <hr />

        <div class="row">
            <!-- Start a new row inside the col-3 -->
            <div class="col-6">
                <h4 class="text-center">Categories</h4>
                <!-- Assign 6 columns to product-types -->
                <vc:product-types />
            </div>
            <div class="col-6">
                <h4 class="text-center">Colors</h4>
                <!-- Assign 6 columns to product-color -->
                <vc:product-color />
            </div>
        </div>
        <hr />

        <!-- New row for the buttons -->
        <div class="row">
            <div class="col-12">
                <div class="d-grid gap-2">
                    <a class="btn btn-outline-secondary text-center" asp-controller="Home" asp-action="Products" asp-route-category="">Clear Filters</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container col-9">
        @foreach (Product p in Model.Products)
        {
            <partial name="ProductSummary" model="p" />
        }

        <div page-model="@Model.PaginationInfo" page-action="Products" page-classes-enabled="true" page-class="btn"
             page-class-normal="btn-outline-dark" page-class-selected="btn-primary" page-url-category="@Model.CurrentCategory" page-url-color="@Model.CurrentColor"
             class="btn-group pull-right m-1">
        </div>
    </div>
</div>

