@{
    ViewData["Title"] = "Add/Edit Product";
}

@model Product

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-9">
            <div class="card custom-card rounded-lg" style="padding:10px 20px">
                <div class="card-body">
                    <h2 class="text-center">@ViewData["Title"]</h2>
                    <form method="post">
                        <input type="hidden" asp-for="ProductId">

        <div class="input-group">
            <label asp-for="CategoryId" class="input-group-text">Category</label>
            <select asp-for="CategoryId">
                @foreach (Category c in ViewBag.Categories)
                {
                    <option value="@c.CategoryId">@c.CategoryName</option>
                }
            </select>
        </div>
        <br />

                        <div class="form-floating mb-3">
                            <input asp-for="Name" type="text" class="form-control" placeholder="Name">
                            <label asp-for="Name">Name</label>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="form-floating mb-3">
                            <input asp-for="Year" type="number" class="form-control" placeholder="Year">
                            <label asp-for="Year">Year</label>
                            <span asp-validation-for="Year" class="text-danger"></span>
                        </div>

                        <div class="form-floating mb-3">
                            <input asp-for="NumParts" type="number" class="form-control" placeholder="Number of Parts">
                            <label asp-for="NumParts">Number of Parts</label>
                            <span asp-validation-for="NumParts" class="text-danger"></span>
                        </div>

                        <div class="form-floating mb-3">
                            <input asp-for="Price" type="number" class="form-control" placeholder="Price">
                            <label asp-for="Price">Price</label>
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>

                        <div class="form-floating mb-3">
                            <input asp-for="ImgLink" type="text" class="form-control" placeholder="Image Link">
                            <label asp-for="ImgLink">Image Link</label>
                            <span asp-validation-for="ImgLink" class="text-danger"></span>
                        </div>

                        <div class="form-floating mb-3">
                            <input asp-for="PrimaryColor" type="text" class="form-control" placeholder="Primary Color">
                            <label asp-for="PrimaryColor">Primary Color</label>
                            <span asp-validation-for="PrimaryColor" class="text-danger"></span>
                        </div>

                        <div class="form-floating mb-3">
                            <input asp-for="SecondaryColor" type="text" class="form-control" placeholder="Secondary Color">
                            <label asp-for="SecondaryColor">Secondary Color</label>
                        </div>

                        <div class="form-floating mb-3">
                            <textarea asp-for="Description" class="form-control" placeholder="Description">@Model.Description</textarea>
                            <label asp-for="Description">Description</label>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="blue-pill-button">Submit</button>
                        </div>
                    </form>
                    <br />
                    <div class="text-center">
                        <a class="red-pill-button" asp-controller="Admin" asp-action="AdminProducts">Cancel</a>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
