@page

<div class="text-center">
    <h2>Thank you for placing your order!</h2>
    <p>Order number: @OrderId</p>
    <h4>We'll review your order and let you know when it has shipped.</h4>
    <a class="btn pill-button" asp-controller="Home">Return to Store</a>
</div>

@functions {

    [BindProperty(SupportsGet = true)]
    public string? OrderId { get; set; }
}