<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Intex2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Intex2.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
</head>
<body>
    <header>
        @* Navigation Bar *@
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between row">
                    <ul class="navbar-nav col-md-4">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if (!User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Products">Products</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">About Us</a>
                            </li>
                        }
                        

                        @if (User.Identity.IsAuthenticated)
                        {
                            @if (User.IsInRole("Admin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="AdminProducts">Products</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Role" asp-action="Index">Users</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Orders">Orders</a>
                                </li>
                            }
                        }
                    </ul>
                    <a class="navbar-brand justify-content-center col-md-3">
                        <img src="~/img/newlogo.png" alt="Logo" class="img-fluid" style="max-height:50px">
                    </a>
                    <ul class="navbar-nav justify-content-end col-md-4">
                        <partial name="_LoginPartial" />
                        <vc:cart-summary />
                    </ul>
                    
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @* Footer *@
    <footer class="footer">
        <div class="container" style="display: grid; place-items: center;">
            <div class="row" style="justify-content:center">
                <div>
                    <a href="https://www.tiktok.com" style="text-decoration:none>
                        <img src="~/img/tiktok_logo.png" class="social-icon" alt="TikTok Logo" />
                    </a>
                    <a href="https://www.instagram.com" style="text-decoration:none">
                        <img src="~/img/instagram-white-icon.png" class="social-icon" />
                    </a>
                    <a href="https://www.facebook.com" style="text-decoration:none>
                        <img src="~/img/facebooklogo.png" class="social-icon" />
                    </a>
                </div>
            </div>
            <p class="text-muted">
                2024 &copy; Brickwell Creations -
                <a asp-area="" asp-controller="Home" asp-action="Privacy" style="color: #A9a9a9">Privacy Policy</a>
            </p>
        </div>
    </footer>
   @*  <footer class="footer">
        <div class="container icon-container">
            <img src="~/img/tiktok logo.png" class=social-icon />
            <img src="~/img/instagram-white-icon.png" class=social-icon/>
            <img src="~/img/facebooklogo.png" class=social-icon />
            <br />
            2024 &copy; Brickwell Creations -<a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy Policy</a>
        </div>
    *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

